<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->

<section id="portfolio" class="white">
    <div class="container">
     <div class="gap"></div>
         <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
             <h2 class="main-title">Examples Of Excellence</h2>
             <hr>
             <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
         </div>
<ul class="portfolio-filter fade-down center no-display animated fadeInDown appear">
             <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
             <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Apps</a></li>
             <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Nature</a></li>
             <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Design</a></li>
         </ul><!--/#portfolio-filter-->

         <ul class="portfolio-items col-3 isotope fade-up no-display animated fadeInUp appear" style="position: relative; overflow: hidden; height: 963px;">
             <li class="portfolio-item apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio01.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item joomla nature isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(383px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio02.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item bootstrap design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(766px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio03.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item joomla design apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 321px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio04.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item joomla apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(383px, 321px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio05.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item wordpress nature isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(766px, 321px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio06.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item joomla design apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 642px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio07.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item joomla nature isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(383px, 642px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio08.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
             <li class="portfolio-item wordpress design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(766px, 642px, 0px) scale3d(1, 1, 1); opacity: 1;">
                 <div class="item-inner">
                     <img src="images/portfolio/folio09.jpg" alt="">
                     <h5>Portfolio Project</h5>
                     <div class="overlay">
                         <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                     </div>
                 </div>
             </li><!--/.portfolio-item-->
         </ul>
     </div>
 </section>